<!-- <app-header></app-header> -->
<div class="con" fxFlex.xs=100>


    <div class="home-con"  fxLayout="row">
        <div class="home" routerLink='/home/getbooks' style="opacity: 0.5;cursor: pointer;">
            Home /
        </div>
        <div class="book">
            <b> My cart 
                <!-- <i>({{ cartbooks.length }}) </i>  -->
            </b>
        </div>
    </div>

    <div class="main-container" fxLayout="column" fxLayoutGap=3px >

        <!-- CART CONTAINER` -->

        <div class="cart-con" fxLayout.xs="column" *ngFor="let getcartbook of cartbooks" >
            <div class="cart-head" fxLayout="row">
                <div class="mycart" >
                    My cart
                </div>
                <div class="location" fxHide.lt-md>
                    <div class="sorting-class" style="margin-left: 500px; margin-top: 10px;">
                        <mat-form-field appearance="outline" style="width: 170px;  height: -20px;">
                            <select matNativeControl fxLayoutAlign="center center" style="width: 100%;">
                                <option value="relevence">Use current location</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <div>
                <div class="book-details-con" fxLayout="row" fxLayout.xs="column" fxLayoutGap=20px>
                    <div class="book-img">
                        <img src="../../../assets/Books/Image 36.png" style="margin-left: 36px; margin-top: -20px; "
                            height="85px" width="65px" alt="">
                    </div>


                    <div class="details-con" >
                        <div fxLayout="column" fxLayoutGap=8px>
                            <div>
                                {{ getcartbook.product_id.bookName }}
                            </div>
                            <div class="author">
                                {{ getcartbook.product_id.author }}

                            </div>
                            <div class="" fxLayout="row">
                                <div>
                                    <b>
                                        {{ getcartbook.product_id.price }}
                                        &nbsp;</b>
                                </div>
                                <div style="font-size: 12px;">
                                    <s>Rs.2000</s>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="count-con"  fxLayout="row" fxLayoutGap=7px >
                    <div>
                        <img src="../../../assets/Books/remove_circle_outline_black_24dp.svg" height="24px" width="24px"
                            style="cursor: pointer;" alt="">
                    </div>
                    <div>
                        <div class="inputBox" fxLayoutAlign="center center"
                            style="width: 8px; height: 17px; margin-top: 4px;">
                            <b>1</b>
                        </div>
                    </div>
                    <div>
                        <img src="../../../assets/Books/add_circle_outline_black_24dp.svg" height="24px" width="24px"
                            style="cursor: pointer;" alt="">
                    </div>
                    <div >
                        <button matTooltip="Delete" (click)="remove(getcartbook)" class="remove-button"> Remove</button>
                    </div>
                </div>
                <div fxLayoutAlign.xs="start">
                    <button class="order-button" *ngIf="displayButton" (click)="showadderss()">Place Order</button>
                </div>
                <div *ngIf="!displayButton"></div>
            </div>
        </div>

        <div class="address-details" *ngIf="displayaddresss" >
            <div class="head">
                Address Details
            </div>
        </div>
        <div class="customer-details" *ngIf="!displayaddresss" >

            <!-- form start -->
            <form [formGroup]=customerDetailsForm>
                <div class="" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign.xs="center" fxLayoutAlign="space-between center">
                        <div class="head">
                            <h2>customer Details</h2>
                        </div>
                        <!-- <div>
                            <button mat-rised-button class="new-address-button">Add New Address </button>
                        </div> -->
                    </div>


                    <div fxLayout="row" fxLayoutGap=-70px fxFlex.xs=100 fxLayout.xs=column fxLayoutGap.xs=1px>
                        <div>
                            <div fxLayout="column" class="fullname">
                                <label>Full Name</label>
                                <mat-form-field appearance="outline" class="input-field">
                                    <input matInput placeholder="Placeholder" formControlName="fullName">
                                    <mat-error fxLayoutAlign="start">Full Name required !</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="column" class="fullname">
                                <label>Mobile Number</label>
                                <mat-form-field appearance="outline" class="input-field">
                                    <input type="tel" matInput placeholder="Placeholder" formControlName="phoneNumber">
                                    <mat-error>Mobile Number required !</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="column" class="fullname" >
                        <label>Address</label>
                        <mat-form-field appearance="outline" class="input-address">
                            <input matInput placeholder="Placeholder" formControlName="fullAddress">
                            <mat-error>Address required !</mat-error>
                        </mat-form-field>
                    </div>


                    <div fxLayout="row" fxLayoutGap=-70px fxFlex.xs=100 fxLayout.xs=column fxLayoutGap.xs=1px>
                        <div>
                            <div fxLayout="column" class="fullname">
                                <label>city/town</label>
                                <mat-form-field appearance="outline" class="input-field">
                                    <input matInput placeholder="Placeholder" class="input-field"
                                        formControlName="city">
                                    <mat-error>City required !</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="column" class="fullname">
                                <label>State</label>
                                <mat-form-field appearance="outline" class="input-field">
                                    <input matInput placeholder="Placeholder" formControlName="state">
                                    <mat-error>State required !</mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="column" fxLayoutGap=10px style="margin-left: 102px;">
                        <div>
                            type
                        </div>
                        <div fxLayout="row" fxLayout.xs="column"  fxLayoutGap=20px>
                            <mat-radio-group aria-label="Select an option" formControlName="addressType">
                                <mat-radio-button value="Home">Home</mat-radio-button>
                                <mat-radio-button style="margin-left: 70px;" value="Office">Office</mat-radio-button>
                                <mat-radio-button style="margin-left: 70px;" value="Other">Other</mat-radio-button>
                            </mat-radio-group>

                        </div>

                    </div>

                    <div fxLayoutAlign="end" fxLayoutAlign.xs="center" style="padding-right:34px; margin-top: 18px;">
                        <button class="continue-btn" (click)="submit()">CONTINUE</button>
                    </div>
                </div>
            </form>
        </div>






        <div class="order-details" *ngIf="displayCheckout" >
            <div class="head">
                <h4>Order-Summary</h4>
            </div>
        </div>

        <div *ngFor="let getcartbook of cartbooks">


            <div class="order-summary" *ngIf="!displayCheckout" >
                <div class="head" fxLayout="column" fxLayoutGap=40px>
                    <div class="heading-order" fxLayoutAlign.xs="center">
                        <h4><b>Order-Summary</b></h4>
                    </div>
                    <div class="book-details-con" fxLayout="row" fxLayoutGap=20px fxLayout.xs="column">
                        <div class="book-img">
                            <img src="../../../assets/Books/Image 36.png" style="margin-left: 36px; margin-top: -20px; "
                                height="85px" width="65px" alt="">
                        </div>


                        <div class="details-con" >
                            <div fxLayout="column" fxLayoutGap=8px>
                                <div>

                                    {{ getcartbook.product_id.bookName }}
                                </div>
                                <div class="author">

                                    {{ getcartbook.product_id.author }}

                                </div>
                                <div class="" fxLayout="row">
                                    <div>
                                        <b>
                                            {{ getcartbook.product_id.price }}
                                            &nbsp;</b>
                                    </div>
                                    <div style="font-size: 12px;">
                                        <s>Rs.2000</s>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayoutAlign="end"  fxLayoutAlign.xs="center" style="padding-right:34px; margin-top: 18px;">
                    <button class="checkout-btn" routerLink='/home/placeOrder'>CHECKOUT</button>
                </div>

            </div>
        </div>

    </div>
</div>