.main-container{
    margin-left: 217px;
    margin-top: 25px;
}
.book-image{

    height: 450px;
    width: 400px;
    margin-left:0px;
    border: 1px solid gray; 
}
.imge{
    padding: 25px 10px 10px 10px;
}
.addtag{
    height: 40px;
    width: 190px;
    border: none;
    border-radius: 5px;
    background-color:#A03037;
    color: white;
    cursor: pointer;
    font-size: 18px;

}
.wishlist{
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 190px;
}
.wish{
    position: relative;
    margin-top: -21px;
    margin-left: 10px;
    font-size: 18px;
}

.rightside-con{
    margin-top: 25px;
    
}
.review-con{
    height: 63px; 
    width: 567px;
    margin-left: 14px; 
    margin-top: 0px;
    margin-right: 25px;
    background-color: white;
    border-radius: 4px;
}
.submit-button{
    float: right;
    margin-right: 20px;
    border: none;
    color:  #FFFFFF;
    background-color: #3371B5;
    
    border-radius: 7px;
    width: 70px;
    height: 25px;
}
.count-con{
    width: 190px;

    background-color: lightcyan;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: right;
    height: 46px;
    padding: 0 10px;
}
.rate label{
    float: left;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.customer-review{
    margin-top: 15px;
    
    width:599px;
    height: 100px;
     border: 1px solid lightgray;
    border-radius: 5px;
}
.stars{
    margin-top: -20px;
}