.bookstore-head{
    margin-left: -20px; cursor: pointer;
}
.haeding{
    margin-left: 201px;
    font-size: 25px;
}

.header-container{
    
    height: 60px;

}
.button{
margin-left: 0;

}
.cart-class{
    margin-top: 0px; margin-left: 90px; cursor: pointer
}
.search{
    width: 75%;
    border: none;
    outline: none;
    margin-left: -20px;
    height: 20px;
    font-size: 18px;
}
.my-profile{
   
    &:hover{
        background-color: lightcoral;
    } 
}
.logout{
    border: 1px solid #A03037;
}

@media only screen and (max-width: 599px) {
.main-con{
    width: 100%;
}
.bookstore-head{
    margin-left: -125px;
}

.header-container{
    width: 100%;
}
.cart-class{
    margin-left: -50px;
}
.profile{
    margin-left: -10px;

}
}
