.haeding{
    margin-left: 201px;
    font-size: 25px;
}
.center searchBar{
}
.header-container{
    
    height: 60px;

}
.button{
margin-left: 0;

}
.search{
    width: 75%;
    border: none;
    outline: none;
    margin-left: -20px;
    height: 20px;
    font-size: 18px;
}