<!-- <app-header></app-header> -->
<div class="con" fxLayout='column' fxFlex.xs=100>
    <div class="home-con" fxLayout="row" fxLayoutAlign.xs="start" >
        <div class="home" routerLink='/home/getbooks' style="opacity: 0.5; cursor: pointer;">
            Home /
        </div>
        <div class="book">
            <b> WishList
            </b>
        </div>
    </div>



    <div class="main-container" fxLayout="column">
        <div class="mywish-head-con">
            <div class="my-wishlist-head">
                <b>My Wish List<i>({{wishList.length}})</i></b>
            </div>
        </div>

        <div class="wishlist-con" *ngFor="let book of wishList" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="-25px" fxLayoutGap="25px">

            <div class="book-img" style="width: 75px; height: 85px; ">
                <img src="../../../assets/Books/Image 36.png" width="65px" height="85px" alt="">
            </div>
            <div class="book-details" fxLayout="column" fxLayoutGap=5px >
                <div class="book-title">
                    <span style="font-size: 17px;">{{book.product_id.bookName}}</span>
                </div>
                <div class="book-author" style="opacity: 0.5;">
                    <h5>{{book.product_id.author}}</h5>
                </div>
                <div class="" fxLayout="row" fxLayoutGap="5px">
                    <div class="price">
                        <b>Rs.{{book.product_id.price}}</b>
                    </div>
                    <div class="original-price">
                        <s style="font-size: 12px;">Rs.3000</s>
                    </div>
                </div>
            </div>
            <div class="delete-con" fxHide.xs fxLayoutAlign.xs="start">
                <img src="../../../assets/Books/delete_black_24dp.svg" (click)="Delete(book)" alt="">
            </div>
        </div>


    </div>
</div>