<app-header></app-header>
<div class="con">
    <div class="home-con" fxLayout="row" style="  font-size: 15px; margin-top: 35px; margin-left: 174px;">
        <div class="home" routerLink='/home/getbooks' style="opacity: 0.5; cursor: pointer;">
            Home /
        </div>
        <div class="book">
            <b> WishList
            </b>
        </div>
    </div>



    <div class="main-container" fxLayout="column" >
        <div class="mywish-head-con"  style=" height: 55px; width: 950px; background-color: lightgrey; border: 1px solid lightgrey ;">
            <div class="my-wishlist-head">
                <b>My Wish List(2)</b>
            </div>
        </div>

        <div class="wishlist-con" *ngFor="let book of wishList" fxLayout="row" fxLayoutGap="25px" style=" width: 950px; height: 175px; border: 1px solid lightgrey">
            <div class="book-img" style="width: 75px; height: 85px; ">
                <img src="../../../assets/Books/Image 36.png" width="65px" height="85px" alt="">
            </div>
            <div class="book-details" fxLayout="column" fxLayoutGap=5px style="width: 200px; height: 85px; ">
                <div class="book-title">
                    <span style="font-size: 17px;">{{book.product_id.bookName}}</span>
                </div>
                <div class="book-author" style="opacity: 0.5;">
                    <h5>{{book.product_id.author}}</h5>
                </div>
                <div class="" fxLayout="row" fxLayoutGap="5px">
                    <div class="price">
                        <b>Rs.{{book.product_id.price}}</b>
                    </div>
                    <div class="original-price">
                        <s style="font-size: 12px;">Rs.3000</s>
                    </div>
                </div>
            </div>
            <div class="delete-con">
                <img src="../../../assets/Books/delete_black_24dp.svg" alt="">
            </div>
        </div>


    </div>