
<div fxLayout="column">
    <div class="image">
        <img src="../../../assets/Books/placeOrder.png" alt="">

    </div>
    <div class="order-information">
        hurray!!!.Your order is confirmed<br> the order is #123456 save the order id for<br> further communication.
    </div>
    <div fxLayout="row" class="table-head-container" fxLayoutAlign="space-around center"  style="height: 45px; width: 750px; border: 1px solid lightgray;">
        <div>
            Email us
        </div>
        <div>
            Contact us
        </div>
        <div>
            Address
        </div>
    </div>
    <div fxLayout=row>
        <div class="email" fxLayoutAlign="center center" style="height: 80px; width: 230px; border: 1px solid lightgray;" >
            admin@bookstore.com
        </div>
        <div class="" fxLayoutAlign="center center" style="height: 80px; width: 230px; border: 1px solid lightgray;" >
            +91 8163475881
        </div><div class="address" fxLayoutAlign="center center" style="height: 80px; font-size: 12px; width: 289px; border: 1px solid lightgray;" >
            42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034
        </div>
    </div>
    <div fxLayoutAlign="center">
        <button class="continue-shopping-button"> CONTINUE SHOPPING</button>
    </div>

</div>
