.home-profile{
    margin-left: 170px;
    margin-top: 30px;
}

.personal-details-from{
    height: 400px;
    width: 512px;
    margin-left: 214px;
    margin-top: 30px;

}
.edit{
    margin-top: 3px;
    color: mediumvioletred;
}
.address-form{
    width: 512px;
    height: 300px;
}
.adress-btn{
    margin-top: -50px;
    border:1px solid saddlebrown;
    background-color: white;
    height: 45px;
    width: 150px;
    margin-right: 5px;
    color: saddlebrown;
    cursor: pointer;
    border-radius: 5px;
}
.state{
    width: 100%;
}